%h1 CORS Example

%p
  A demo of cross-origin canvas manipulation using Color Thief and S3.
  %a{href: "https://github.com/zeke/cors-example"}
    Read more

%img{src: 'http://cors-example.s3.amazonaws.com/rainbow.jpg', id: "rainbow"}

%ul#colors